@font-face {
  font-family: 'OswaldBold';
  src: url('../fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'OswaldSemiBold';
  src: url('../fonts/Oswald-SemiBold.ttf');
}

@font-face {
  font-family: 'OswaldMedium';
  src: url('../fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'OswaldRegular';
  src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'OswaldLight';
  src: url('../fonts/Oswald-Light.ttf');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('../fonts/Oswald-ExtraLight.ttf');
}

/* ------ */

@font-face {
  font-family: 'SourceSansProLight';
  src: url('../fonts/SourceSansPro-Light.tff');
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url('../fonts/SourceSansPro-Boldtff');
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

/* ------ */

@font-face {
  font-family: 'SpaceMonoRegular';
  src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMonoBold';
  src: url('../fonts/SpaceMono-Bold.ttf');
}


/******* Material Icons  ******/
//http://google.github.io/material-design-icons/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
