body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: $body-color;
}

p{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

a{
    color: inherit;
}

ul{
  list-style: none;
  padding: 0;
}

div, section {
    box-sizing: border-box;
}

main{
    background-color: white;
    color: $deep-ocean-blue;
    font-family: 'SpaceMonoRegular';
    height: 100%;
}
