$body-height: 85vh;
$mobile-body-height: 95vh;

#about{
    position: relative;
    min-height: 85vh;
    background-color: $deep-ocean-blue;
    overflow-x: hidden;

    @media #{$mobile}{
        min-height: $mobile-body-height;
    }

    .arrow{
        position: absolute;;
        z-index: $top;
        top: 150px;

        &.left{
            left: 8px;
            &.hidden{
                display: none;
            }
        }

        &.right{
            right: 20px;
        }

        &:hover{
            cursor: pointer;
            .icon{
                color: $espuma-white;
            }
        }

        .icon{
            font-size: 7rem;
            color: white;
            text-shadow: black 5px 5px 10px;
        }
    }

    .slide{
        height: 85vh;
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: auto;
        transition: left 2s, opacity 2s;
        @extend .background-image;

        @media #{$mobile}{
            min-height: $mobile-body-height;
        }


        ;

        &.one{
            background-image: url('../images/maryland-crabs.jpg');
            background-position: 0% 40%;
        }

        &.two{
            background-position: 0% 40%;
            background-image: url('../images/road-to-matopalo-min.png');
        }

        &.three{
            background-position: 0% 60%;
            background-image: url('../images/my-apartment-min.png');
        }

        &.current{
            display: inline-block;
            left: 0px;
            z-index: $middle;
            opacity: 1;
        }

        &.previous{
            display: inline-block;
            left: -100%;
            z-index: $bottom;
            opacity: 0;
        }

        &.next{
            display: inline-block;
            left: 100%;
            z-index: $bottom;
            opacity: 0;
        }

        .image{
            width: 100%;
            height: 100%;
            display: block;
            .text{
                position: absolute;
                bottom: 0;
                left: 0;
                height: auto;
                display: block;
                background-color: #25242B;
                opacity: 0.8;
                padding: 10px 20px;
                text-align: center;
                width: 100%;
                p{
                    margin-bottom: 5px;
                    font-family: 'SpaceMonoRegular';
                    font-size: 1.2rem;
                    line-height: 130%;
                    color: white;
                    opacity: 1;

                    @media #{$desktop}{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
