$padding: 20px;

#blog{
    padding: $padding;
    font-family: 'SpaceMonoRegular';
    color: $deep-ocean-blue;
    position: relative;
    z-index: $bottom;
    background-color: white;

    &.dim-background{
        background-color: lightgray;
        .article{
            .title{
                color: gray !important;
            }
            .date{
                color: gray !important;
            }
            .markup{
                color: gray !important;
            }
        }
    }

    .blog-navigation {
        transition: all 0.4s;
        display: inline-block;
        width: 20%;

        .links{
            &.mobile{
                @media #{$desktop}{
                    display: none;
                }
                position: fixed;
                bottom: 40px;
                right: 40px;

                .menu-icon-container{
                    text-align: center;
                    border: rgba(255,255,255, 0.6) 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: white;
                    box-shadow: black 0px 0px 15px;
                    border-radius: 30%;
                    .open-menu-icon{
                        font-size: 2rem;
                        &:hover{
                            cursor: pointer;
                            color: lighten($deep-ocean-blue, 20%);
                            transition: color 0.25s;
                        }
                    }
                }

                .article-options-container{
                    position: fixed;
                    bottom: 20px;
                    right: 0%;
                    transition: all 0.5s;
                    &.closed{
                        bottom: -100%;
                        right: 0%;
                        opacity: 1;
                    }
                    .article-options-wrapper{
                        background-color: $deep-ocean-blue;
                        color: white;
                        border-radius: 2.5%;
                        width: 95%;
                        margin: 0 auto;
                        padding: 15px;
                        &:hover{
                            cursor: pointer;
                        }
                        .close-menu-icon{
                            margin-left: -5px;
                            margin-top: -5px;
                            font-size: 2.5rem;
                            &:hover{
                                color: lightgray;
                            }
                        }
                        .links-container{
                            .article-option{
                                color: white;
                            }
                        }
                    }
                }
            }

            &.desktop{
                @media #{$mobile}{
                    display: none;
                }
            }

            .article-option{
                color: dimgray;
                font-size: 0.9rem;
                margin-bottom: 20px;
                display: block;
                text-decoration: none;
                cursor: pointer;
                transition: text-decoration 0.5s;
                transition: color 0.4s;
                &:hover{
                    text-decoration: underline;
                    transition: text-decoration 0.5s;
                    transition: color 0.4s;
                    color: darken(dimgray, 40%);;
                }
            }
        }


    }

    .article{
        min-height: 100vh;
        .title{
            font-size: 2rem;
            font-family: 'OswaldRegular';
            letter-spacing: 2px;
            color: $ocean-blue;
            text-decoration: none;
        }

        .date{
            font-size: 1.3rem;
            font-family: 'OswaldRegular';
            margin-bottom: 20px;
        }

        .markup{
            text-align: left;
        }


        @media #{$desktop}{
            width: 80%;
            display: inline-block;
            vertical-align: top;
            padding-left: 50px;
            .title{
                transition: text-decoration 0.5s;
                &:hover{
                    text-decoration: underline;
                    transition: text-decoration 0.5s;
                }
            }
        }

    }
}
