#footer{
    background: linear-gradient(180deg, $body-shadow-color, $body-color 30px, $body-color);
    background-color: $ocean-blue;
    border-top: 8px solid white;
    text-align: center;
    font-family: 'OswaldLight';
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $espuma-white;
    height: 150%;
    padding: 20px 0;
    z-index: $top;
    position: relative; // to make z-index work

    .copyright{
        margin-bottom: 20px;
        display: block;
    }

    .last-updated{
        margin-bottom: 20px;
    }

    .social-icon{
        width: 30px;
        margin: 0 10px;
    }
}
