#home{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    height: auto;
    display: flex;
    align-items: start;
    transition: all 1s;
    padding: 50px;

    .intro-container{
        flex: 1;
        text-align: center;
        color: $espuma-white;
        text-transform: uppercase;
        letter-spacing: 3px;

        .name{
            font-size: 5rem;
            line-height: 100%;
            font-family: 'OswaldRegular';
            margin-bottom: 15px;
            text-shadow: 3px 3px 20px black;
        }

        .title{
            font-family: 'OswaldRegular';
            font-size: 1.5rem;
            line-height: 100%;
            text-shadow: 5px 5px 10px black;
        }
    }
}
