#navigation{
    padding: 15px;
    background: linear-gradient(0deg, $body-shadow-color, $body-color 25px, $body-color);
    border-bottom: 8px solid white;
    z-index: $top;
    position: relative; //this is to get the z-index to work for blog
    min-height: 31px;

    .option{
        color: $espuma-white;
        text-decoration: none;
        font-family: 'OswaldLight';
        letter-spacing: 1px;
        font-size: 1.2rem;
        text-transform: uppercase;

        &.cool-things{
            flex: 2.5;
        }

        @media #{$mobile}{
             margin-bottom: 5px;
        }
        &:hover{
            color: white;
            font-size: 1.4em;
            cursor: pointer;
            transition: all 0.5s;

        }

        &.selected{
            font-weight: bold;
            font-size: 1.5em;
            font-family: 'OswaldRegular';
        }

        .home-icon{
            font-size: 2rem;
        }
    }

    .desktop{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media #{$mobile}{
            display: none;
        }
        .option{
            align-self: center;
            display: inline-block;
            flex: 1;
            text-align: center;
        }
    }

    .mobile{
        position: relative;
        @media #{$desktop}{
            display: none;
        }
        .menu-icon-container{
            color: $espuma-white;
            .menu-icon{
                font-size: 3rem;
            }
            &:hover{
                cursor: pointer;
            }
        }

        .drop-down-menu-container{
            display: flex;
            flex-direction: column;
            max-height: 400px;
            transition: max-height 1s ease-out, opacity 1s linear;
            opacity: 1;

            &.hidden{
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition: max-height 0.5s ease-out, opacity 0.5s linear;
            }
        }
    }
}
