#picks{
    width: 100%;
    padding: 15px 0;
    background-image: url('../images/monkey-background.png');
    @extend .background-image;
    a{
        color: white;
        font-family: 'OswaldRegular';
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.7rem;
        text-shadow: 5px 5px 10px black;
    }

    div{
        color: white;
    }

}
