#sample-work{
    color: $deep-ocean-blue;
    padding: 20px;

    a{
        &:hover{
            color: dimgray;
        }
    }
    .header{
        font-size: 2em;
        font-family: 'SpaceMonoBold';
        margin-bottom: 20px;

    }
    .sample-work-container{
        color: $deep-ocean-blue;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-family: 'SpaceMonoRegular';
        width: 100%;

        @media #{$mobile}{
            display: inline-block;
        }

        .preview-image{
            display: inline-block;
            width: 35%;
            transition: all 0.5s;
            padding-right: 40px;
            img{
                width: 100%;
                transition: all 0.5s;
            }

            @media #{$mobile}{
                width: 100%;
                display: block;
                padding-right: 0;
            }
        }

        .project-description{
            display: inline-block;
            width: 65%;
            margin-bottom: 50px;
            p{
                margin-bottom: 10px;
            }

            .description{
                font-family: 'SpaceMonoBold';
                font-size: 1.6rem;
                margin-bottom: 10px;
            }

            .specs{
                font-size: 1.1 rem;
            }

            @media #{$mobile}{
                width: 100%;
                display: block;
            }
        }

    }
}
